{% extends "/html/base_template.html" %}
{% block title %}{{player.name}} at {{ club.name }}{% endblock %}

{% block header %}
  <h1 class="text-center">Player details for {{player.name}} at {{club.name}}</h1>
{% endblock %}
{% block content %}
<div id="player">
ID:
{%- if create %}
 <input id="name" value="{{player.name}}">
{%- else %}
 {{player.name}}
{%- endif %}
<br>
Name:
{%- if create %}
 <input id="fname" value="{{player.firstName}}">
 <input id="lname" value="{{player.lastName}}">
{%- else %}
 {{player.firstName}} {{player.lastName}}
{%- endif %}
<br>
Handicap:
{%- if create %}
 <input id="rank" value="{{player.handicap}}">
{%- else %}
{{player.handicap}}
{%- endif %}
<br>
{%- if create %}
<button onclick='updateplayer("update")'>Update</button>
<button onclick='updateplayer("delete")'>Delete</button>
{%- endif %}
</div>
  <table id="players-wins" class="table table-hover table-condensed sortable-table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Handicap</th>
        <th>Place</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in wins|sort(attribute="tourney") %}
      <tr>
        <td><a href="/Tourney/{{club.key.id()}}/{{ entry.tourney.get().slug }}">
            {{ entry.tourney.get().name }}</a></td>
        <td>{{ entry.handicap }}</td>
        <td>{{entry.place}}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  <table id="players-matches" class="table table-hover table-condensed sortable-table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Match id</th>
        <th>Player A</th>
        <th>Handicap</th>
        <th>Player B</th>
        <th>Handicap</th>
        <th>Race</th>
        <th>Winner</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in matches |sort(attribute="matchid")|sort(attribute="tourney") %}
      <tr>
        <td><a href="/Tourney/{{club.key.id()}}/{{ entry.tourney.get().slug }}">
            {{ entry.tourney.get().name }}</a></td>
        <td>{{ entry.matchid }}</td>
        <td><a href="/Player/{{club.key.id()}}/{{ entry.playerA.get().name }}">
            {{ entry.playerA.get().firstName }} {{ entry.playerA.get().lastName }}</a></td>
        <td>{{ entry.handicapA }}</td>
        <td><a href="/Player/{{club.key.id()}}/{{ entry.playerB.get().name }}">
            {{ entry.playerB.get().firstName }} {{ entry.playerB.get().lastName }}</a></td>
        <td>{{ entry.handicapB }}</td>
        <td>{{ entry.targetA }}/{{ entry.targetB }}</td>
        <td>
         {%- if entry.winner %}
            {{entry.playerA.get().name}}
         {%- else %}
            {{entry.playerB.get().name}}
         {%- endif %}
      </tr>
    {%- endfor %}
    </tbody>
  </table>

<script type="text/javascript">
function updateplayer(op)
{
   var r = new XMLHttpRequest(); 
   r.open("POST", "/Player/{{club.key.id()}}/{{ player.name }}", true);
   r.onreadystatechange = function () {
      if (r.readyState != 4 || r.status != 200) return; 
      console.log(r.responseText);
   };
   var f = new FormData();
   var name  = document.getElementById("name").value;
   var fname = document.getElementById("fname").value;
   var lname = document.getElementById("lname").value;
   var rank  = document.getElementById("rank").value;

   f.append("club","{{club.key.id()}}");
   f.append("name",name);
   f.append("fname",fname);
   f.append("lname",lname);
   f.append("rank",rank);
   f.append("op",op);
   r.send(f);
}
</script>
{% endblock %}
