{% extends "/html/base_template.html" %}
{% block title %}Players at {{ club.name }}{% endblock %}

{% block header %}
  <h1 class="text-center">Player list at {{club.name}}</h1>
{% endblock %}
{% block content %}
  <table id="players-summary" class="table table-hover table-condensed sortable-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>H'cap</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in players %}
{%- if entry.firstName != None %}
      <tr>
        <td>{{ entry.name }}</td>
        <td><a href="/Player/{{club.key.id()}}/{{ entry.name }}">
            {{ entry.firstName }} {{ entry.lastName }}</a></td>
        <td>{{ entry.handicap }}</td>
      </tr>
{%- endif %}
    {%- endfor %}
    </tbody>
  </table>

{% endblock %}
