{% extends "/html/base_template.html" %}
{% block title %}Tourney for {{club.name}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {{ login|safe }}<p>

   {%- if create %}
     <a href="/Tourney/{{club.key.id()}}/create">New tournement</a><br>
     <a href="/Player/{{club.key.id()}}">Edit player list</a><br>
     <a href="/static/invite.html">Edit operators</a><br>

   {%- endif %}
   {%- for d in dates %}
       <a href="/Tourney/{{d.club.id()}}/{{ d.slug}}">{{d.name}}</a><br>
   {%- endfor %}
{%- endblock %}
