{% extends "/html/base_template.html" %}
{% block title %}New torunement at {{ club.name }}{% endblock %}
{% block content %}
<table id="board">
</table>

{%- if matches %}
<div hidden id="pregame">
{%- else %}
<div id="pregame">
{%- endif %}
Tourneyment name<input id="tname" onchange="tname_set()"><br>
<div id="playerui">
ID:<input id="newplayer" oninput="validate(); filter_players()"><br>
<select id="player" onchange="update_player()"><option value>New player</option></select>
<button id="addplayer" onclick="addplayer()">Enter</button>
<button onclick="newplayer()">New</button><br>
<div hidden id="createplayer">
Name:<input id="fname"> <input id="lname"><br>
Rank:<select id="newrank"></select>
</div>
</div>
<button id="start" onclick="place_players()">Finish Tournement</button><br>
<div id="winners">
</div>
<script type="text/javascript">
  var   club = "{{club.key.id()}}";
  var   clubname = "{{club.name}}";
  var   canupdate = {{create}};
  var   tourneyname = undefined;
{%- if tourney %}
  var   tourneyname = "{{tourney.slug}}";
{%- endif %}
</script>
<script type="text/javascript" src="/static/config.js"></script>
<script type="text/javascript" src="/static/finish.js"></script>
<script type="text/javascript" src="/static/newplayer.js"></script>
<script type="text/javascript">
</script>
{% endblock %}
